/* =========================
BOTON FLOTANTE
========================= */

#chatButton{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#007BFF;
color:white;
font-size:28px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
cursor:pointer;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
transition:transform 0.3s;
z-index:999;
}

#chatButton:hover{
transform:scale(1.1);
}

/* =========================
VENTANA CHAT
========================= */

#chatContainer{

position:fixed;
bottom:100px;
right:25px;

width:320px;
height:420px;

background:white;

border-radius:12px;

box-shadow:0 6px 20px rgba(0,0,0,0.3);

display:flex;
flex-direction:column;

opacity:0;
transform:translateY(20px);

pointer-events:none;

transition:0.3s;

z-index:999;
}

/* =========================
CHAT ABIERTO
========================= */

#chatContainer.active{
opacity:1;
transform:translateY(0);
pointer-events:auto;
}

/* =========================
HEADER
========================= */

.chat-header{

background:#007BFF;
color:white;

padding:12px;

display:flex;
justify-content:space-between;

font-weight:bold;

}

/* =========================
AREA MENSAJES
========================= */

#chatbox{

flex:1;

padding:10px;

overflow-y:auto;

font-size:14px;

color:black;

font-family:Arial, Helvetica, sans-serif;

}

/* =========================
MENSAJE USUARIO
========================= */

.user{

text-align:right;

margin:6px;

color:black;

background:#e3f2fd;

padding:6px 10px;

border-radius:8px;

display:inline-block;

max-width:80%;

/*float:right;*/

clear:both;

}

/* =========================
MENSAJE BOT
========================= */

.bot{

text-align:left;

margin:6px;

color:black;

background:#f5f5f5;

padding:6px 10px;

border-radius:8px;

display:inline-block;

max-width:80%;

/*float:left;*/

clear:both;

}

/* =========================
INPUT
========================= */

.chat-input{

display:flex;

border-top:1px solid #ddd;

}

/* caja de texto */

.chat-input input{

flex:1;

padding:10px;

border:none;

outline:none;

color:black;

font-size:14px;

}

/* boton enviar */

.chat-input button{

background:#007BFF;

color:white;

border:none;

padding:10px 15px;

cursor:pointer;

transition:0.2s;

}

/* hover boton */

.chat-input button:hover{

background:#0056b3;

}